html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.5s;
  background-color: #ffffff;
}

header {
  background:linear-gradient(to bottom,rgba(0, 0, 0, 0.7)10%,rgba(0, 0, 0, 0.7)19%,rgba(0, 0, 0, 0.7)25% ,rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.7) 55%, rgba(0, 0, 0, 0.7) 70%), url("./images/seun (2).jpeg");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height:80vh;
  display:flex;
  justify-content: center;
  color:white;
}

.header i{

font-size: 40px;
}


.icons {
  width: 35px;
  height: 80px;
  margin: 0px 2px 0px 2px;
  padding: 0;
}

.icons:hover {
  transform: scale(1.1);
}

.desc {
margin-top:50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me {
  background: #e8eef1;
}
.about-me p {
  margin: 0px;
  font-size: 20px;
}

.locate, .skills, .projects, .Work-Experience, .Education, .languages {
  background: rgb(232, 238, 241);

}
 .locate span{
   min-height:110px;
 }

 .checked{
   color:orange;
 }

@media(min-width:500px){
  header{
    background-position: center;
  }
}